<i title="click to show children" class="node fa fa-toggle-right" ng-show="data.nbOfChildren > 0 && !data.childrenOpen" ng-click="openChildren(data)"></i>
<i title="click to hide children" class="node fa fa-toggle-down" ng-show="data.nbOfChildren > 0 && data.childrenOpen" ng-click="closeChildren(data)"></i>
<i ng-show="data.nbOfChildren == 0" class="leaf fa fa-circle-o">&nbsp;</i>
<div title="{{label}}" class="nodelabel" ng-right-click="makeEditable(data)" ng-click="activate(data)" ng-show="activeNode.path != data.path">
    {{label|truncate:25:25}}
    <span ng-show="data.editable">&nbsp;|&nbsp;</span>
    <i ng-show="data.editable" ng-click="addChildren(data)" class="action fa fa-plus" style="color:#ff1493"></i>
    <i ng-show="data.editable && label != 'ROOT'" ng-click="removeNode(data)" style="color:#ff1493" class="action fa fa-times"></i>
</div>
<div title="{{label}}" class="nodelabel active" ng-show="activeNode.path == data.path">
    {{label|truncate:25:25}}&nbsp;|&nbsp;
    <i ng-click="addChildren(data)" class="action fa fa-plus" style="color:#ff1493"></i>
    <i ng-show="label != 'ROOT'" ng-click="removeNode(data)" style="color:#ff1493" class="action fa fa-times"></i>
</div>
<div ng-show="data.childrenLoading" class="loader"></div>
<!--<button ng-click="add(data)">Add node</button>
<button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>-->
<ul>
    <li ng-repeat="(label,data) in data.children" ng-include="'templates/tree_node.html'"></li>
</ul>