/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.loader {
    display: inline-block;
    line-height: 1;
    background: transparent url('../img/loader.gif') no-repeat 0 0;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

#header {
    background-color: #000000;
    padding: 5px 27px;
    color: white;
    margin-bottom: 10px;
}
.menu {
    margin: 0 25px 10px 25px;
}
.tree li {
    line-height: 16px;
}
.nodelabel {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 6px;
    display: inline-block;
    margin: 3px 0;
}

i.leaf {
    margin-right: -3px;
    padding-left: 0;
}
