<h4>Upload File:</h4><input ng-model="filename" type="text" class="span10"><br>
clean zookeeper (BE CAREFULL WITH THIS OPTION!!): <input type="checkbox" ng-model="clean"><br>
<button class="btn btn-primary" ng-click="load()">load</button>
<h4>Download current state</h4>
<a class="btn btn-primary" href="../../service/zookeeper/bootstrap/zookeeper.properties" target="_blank">download</a>