<h4>Rules</h4>
<span ng-show="!loading && ruleList.length == 0">no rules</span>
<span ng-show="loading">...loading</span>
<ul>
    <li ng-repeat="rule in ruleList">
        <h4 title="click to show rule" ng-click="rule.show = !rule.show">{{rule.id}}</h4>
        <div ng-show="rule.show">
        <textarea style="width:45%;overflow:scroll;float:left" rows="10" ng-model="rule.data"></textarea>
        <div ng-bind-html="rule.description" style="width:45%;float: left;margin-left: 2%"></div>
        </div>
        <div style="clear: both"></div>
        <button class="btn btn-primary" ng-click="save(rule)">save</button><button class="btn btn-warning" style="margin-left: 10px" ng-click="remove(rule)">remove</button>
    </li>
</ul>
<h4>New rule</h4>
<textarea class="prettyprint" style="height: 400px;width: 100%;overflow: scroll" class="span10" ng-model="newRules"></textarea><br>
<button class="btn btn-primary" ng-click="upload()">save</button>
<h4>Download rules</h4>
<a class="btn btn-primary" href="{{downloadUrl}}" target="_blank">download</a>