<script type="text/ng-template" id="addNodeModal.html">
    <form name="form" style="margin-bottom:0;" id="modal-form">
    <div class="modal-header">
        <h3>Add new node to {{path}}</h3>
    </div>
    <div style="text-align:center" class="modal-body">
        <input class="span5" name="input" ng-pattern="/^(\w|\.|_|-)+$/" type="text" placeholder="Node Label (required, alphanumerical)" required ng-model="input.label"><div style="color:red;font-size:12px" ng-show="form.input.$error.pattern">Value must only include alphanumerical characters, ., :, - or _</div><br>
        <textarea class="span5"  type="text" placeholder="Node Data" ng-model="input.data"></textarea>
    </div>
    <div class="modal-footer">
        <input ng-disabled="form.input.$error.required || form.input.$error.pattern" type="submit" class="btn btn-primary" ng-click="ok()" value="OK"/>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>
<style type="text/css">
    body {
        font-family:Verdana;
    }
    .outer_left {
        float: left;
        width: 50%;
    }
    .outer_right {
        float: left;
        width: 50%;
    }
    .inner {
        margin:10px;
        padding: 10px;
        border: 1px solid black;
    }
    .node,.action {
        cursor:pointer;
        font-size: 12px;
    }
    .leaf {
        padding-left: 6px;
    }
    .tree ul {
        list-style: none;
        margin:0;
        padding: 0 0 0 20px;
        font-size: 12px;
    }
    .nodelabel {
        cursor: pointer;
    }
    .nodelabel.active {
        color: #ff1493;
        border-color: #ff1493;
    }

</style>
<div class="tree outer_left" style="margin-top: 40px;">
    <div class="inner" style="margin: 0;">
        <ul>
            <li ng-repeat="(label,data) in tree" ng-include="'templates/tree_node.html'"></li>
        </ul>
    </div>
</div>
<div class="content outer_right" style="position: fixed; top:40px; right:0">
    <div class="inner">
        <div ng-show="activeNode == undefined"><i>No node selected</i></div>
        <div ng-show="activeNode != undefined">
            Path: {{activeNode.path}}<br>
            Data:
            <div style="display: inline" ng-include="activeNode.template"></div><br>
            Datatype: <select ng-model="handler" ng-options="handler.name for handler in handlers"></select><br>
            Version: {{activeNode.version}}<br>
            <button ng-show="activeNode.changed" class="btn" ng-click="saveNode()">save</button>
        </div>
    </div>
</div>